body {
    position: relative;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
    min-height: 180px;
    width: 380px;
}

h1 {
    font-family: 'Menlo', monospace;
    font-size: 22px;
    font-weight: 400;
    margin: 0;
    color: #3bdb63;
}

img {
    width: 30px;
}

.modal-header {
    display: flex;
    align-items: center; 
    justify-content: center;
}

.modal-content {
    margin: 5%;
    min-height: 50px;
    background-color: rgb(248, 245, 245);
    border: 2px solid  rgb(110, 108, 108);
    border-radius: 10px;
}

.modal-content .form {
    margin: 5%;
}

.modal-content .form .email,.password,.selectServices{
    margin-bottom: 10px;
}

.modal-content .form .email span {
    margin-right: 52px;
}

.modal-content .form .password span {
    margin-right: 26px;
}

.modal-content .form .selectServices span {
    margin-right: 1px;
}

.modal-content .form .apply span {
    margin-right: 15px;
}

.title-current-data{
    padding-top: 20px;
    display: flex;
    justify-content: center;
}

.title-current-data, h3 {
    display: flex;
    justify-content: center;
    font-family: 'Menlo', monospace;
    margin: 0;
    color: #3bdb63;
}

.modal-current-data {
    margin: 5%;
    min-height: 50px;
    background-color: rgb(248, 245, 245);
    border: 2px solid  rgb(110, 108, 108);
    border-radius: 10px;
}

.selectCurrentService {
    padding-left: 20px;
}

.modal-current-data span {
    padding-left: 10px;
    margin-right: 20px;
}

.modal-current-data .current-service {
   padding-top: 10px;
}

.modal-current-data .current-service {
    display: flex;
    align-items: center;
}

.modal-current-data .current-email {
    display: flex;
    align-items: center;
}

.modal-current-data .current-password {
    display: flex;
    align-items: center;
}

.modal-button-edit {
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 15px;
}

.modal-button-edit .btn {
    cursor: pointer;
}